* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(177, 214, 223);
}
.snare-pad {
  background: rgb(233, 210, 189);
}
.hihat-pad {
  background: rgb(228, 191, 228);
}
.kick-pad.active {
  background: rgb(12, 164, 202);
}
.snare-pad.active {
  background: rgb(230, 138, 52);
}
.hihat-pad.active {
  background: rgb(183, 52, 231);
}

.sequencer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 0.5rem;
  border: none;
  background: rgb(40, 34, 88);
  color: white;
  cursor: pointer;
  margin: 0.5rem;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}
select {
  width: 7rem;
  padding: 0.5rem;
  border-radius: 0;
  border: none;
  background: rgb(40, 34, 88);
  color: white;
}

.mute.active {
  background: rgb(206, 61, 73);
}

.p {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.p button.active {
  background: rgb(206, 61, 73);
}

.play {
  padding: 0.5rem 1.4rem;
  font-size: 1.2rem;
  background: rgb(40, 34, 88);
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
